<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="user">
    <div style="width: 100%;color: #fff;">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" 
        [routerLinkActiveOptions]="{exact: true}" style="padding-left: .9rem;float: left !important;color: #fff">Home</a>
        <!-- <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Users</a> -->
        <a class="nav-item nav-link pull-right" (click)="logout()" style="float: right !important;">Logout</a>
    </div>
</nav>

<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }" style="background-color: #fff !important">
    <div class="col-md-6" style="float: right;width: 100%;position: absolute;top: 10px;z-index: 999;display: block;left: 50%;padding-right: 35px;">
        <alert></alert>
    </div>
    <router-outlet></router-outlet>
</div>


